.selector-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:400px;
    background-color: rgb(212, 212, 212);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    margin-bottom:50px;
    
}
.weather-display{
    
    width:300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.weather-display-sky{
    margin:10px;
    background-color: rgba(16, 97, 134, 0.589);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:20px
}
.weather-display-sky-top{
    border-radius: 20px;
}
.weather-display-temp{
    margin:10px;
    background-color: rgba(16, 97, 134, 0.589);
    width:100%;
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:20px
}
.weather-display-temp-top{
    border-radius: 20px;
}
.weather-display-temp-bottom{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.selector-btns{
    display: flex;
}
.weather-more-container{
    
    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.weather-more-fl{
    margin:10px;
    background-color: rgba(16, 97, 134, 0.589);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius:20px

}
.weather-more-fl-top{
    border-radius: 20px;
}
.weather-more-humidity{
    margin:10px;
    background-color: rgba(16, 97, 134, 0.589);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius:20px

}
.weather-more-humidity-top{
    border-radius: 20px;
}
.weather-more-humidity-bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
   width: 100%;
}
h3{
    text-align: center;
    width: 90%;
    background-color: aliceblue;
}