.selector-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:400px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    
}
.weather-display{
    
    width:300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.weather-display-sky{
    margin:10px;
    background-color: rgba(16, 97, 134, 0.589);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.weather-display-sky-top{
    border-radius: 20px;
}
.weather-display-temp{
    margin:10px;
    background-color: rgb(150, 144, 144);
    width:100%;
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.weather-display-temp-top{
    border-radius: 20px;
}
.selector-btns{
    display: flex;
}
.weather-more-container{
    
    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.weather-more-fl{
    margin:10px;
    background-color: rgb(129, 56, 56);
    display: flex;
    flex-direction: column;
    align-items: center;

}
.weather-more-fl-top{
    border-radius: 20px;
}
.weather-more-wd{
    margin:10px;
    background-color: rgb(97, 97, 97);
    display: flex;
    flex-direction: column;
    align-items: center;


}
.weather-more-wd-top{
    border-radius: 20px;
}
h3{
    text-align: center;
    width: 90%;
    background-color: aliceblue;
}